@model List<DTO.LeavesDTO>
@{
    ViewBag.Title = "Approve Req";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    int count = 1;
}
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>S.No</th>
                    <th>Employee Name</th>

                    <th>Leave Start</th>
                    <th>Leave End</th>
                    <th>No. of Days</th>
                    <th>Leave Type</th>
                    <th>Leave Reason</th>
                    <th>Action</th>

                </tr>
                @foreach (var k in Model)
                {
                    if (k.Leaves.LeaveStatusID==1)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@k.Employee.EmployeeName</td>
                            <td>@k.Leaves.LeaveStartDate</td>
                            <td>@k.Leaves.LeaveEndDate</td>
                            <td>@k.Leaves.Days</td>
                            <td>@k.Leaves.Leavetype</td>
                            <td>@k.Leaves.LeaveDescription</td>

                            <td>

                                <form action="/leave/display" method="post">

                                    <select name="LeaveStatusID" id="status">
                                        <option value="">Select Action</option>
                                        <option value="2">Approve</option>
                                        <option value="3">Reject</option>
                                    </select>
                                    <input type="hidden" name="EmployeeID" value="@k.Employee.EmployeeID" />
                                    <input type="hidden" name="ApproverID" value="@Session["CurrentEmpID"]" />
                                    <input type="hidden" name="LeaveID" value="@k.Leaves.LeaveID" />
                                    <input type="hidden" name="ApprovedDate" value=@DateTime.Now.ToString("yyyy/MM/dd") />
                                    <input type="hidden" name="LeaveStartDate" value="@k.Leaves.LeaveStartDate" />
                                    <input type="hidden" name="LeaveEndDate" value="@k.Leaves.LeaveEndDate" />
                                    <input type="hidden" name="LeaveDescription" value="@k.Leaves.LeaveDescription"/>
                                    <button class="btn btn-success confirm" type="submit">
                                        Submit
                                    </button>

                                </form>

                            </td>

                        </tr>
                        count += 1;
                    }

                }

            </table>
    
        </div>
    </div>
<script>
    $('.confirm').on('click', function () {
        return confirm('Are you sure?');
    });
</script>
