
@{
    ViewBag.Title = "Approve Req";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>Employee ID</th>
                    <th>Leave Start</th>
                    <th>Leave End</th>
                    <th>Leave Reason</th>
                    <th>Action</th>
                    
                </tr>
                @foreach (var k in Model)
                {
                    if (k.Status == null && k.LeaveStatusID == 1)
                    {
                        <tr>
                            <td>@k.EmployeeID</td>
                            <td>@k.LeaveStartDate</td>
                            <td>@k.LeaveEndDate</td>
                            <td>@k.LeaveDescription</td>

                            <td>

                                <form action="/leave/display" method="post">

                                    <select name="Status" id="status">
                                        <option value="">Select Action</option>
                                        <option value="Approved">Approve</option>
                                        <option value="Rejected">Reject</option>
                                    </select>
                                    <input type="hidden" name="EmployeeID" value="@k.EmployeeID" />
                                    <input type="hidden" name="ApproverID" value="@Session["CurrentEmpID"]" />
                                    <input type="hidden" name="LeaveID" value="@k.LeaveID" />
                                    <input type="hidden" name="ApprovedDate" value=@DateTime.Now />
                                    <input type="hidden" name="LeaveStartDate" value="@k.LeaveStartDate" />
                                    <input type="hidden" name="LeaveEndDate" value="@k.LeaveEndDate" />
                                    <input type="hidden" name="LeaveDescription" value="@k.LeaveDescription"/>
                                    <button class="btn btn-success confirm" type="submit">
                                        Submit
                                    </button>

                                </form>

                            </td>

                        </tr>
                    }

                }

            </table>
    
        </div>
    </div>
<script>
    $('.confirm').on('click', function () {
        return confirm('Are you sure?');
    });
</script>
