@model List<DTO.LeavesDTO>
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    int count = 1;
}

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>S.No</th>
                <th>Employee Name</th>
                <th>Leave Start</th>
                <th>Leave End</th>
                <th>Days</th>
                <th>Leave Reason</th>
                <th>Status</th>             
                <th>Approved Date</th>

            </tr>
            @foreach (var k in Model)
            {
                if (k.Employee != null)
                {
                    <tr>
                        <td>@count</td>
                        <td>@k.Employee.EmployeeName</td>
                        <td>@k.Leaves.LeaveStartDate</td>
                        <td>@k.Leaves.LeaveEndDate</td>
                        <td>@k.Leaves.Days</td>
                        <td>@k.Leaves.LeaveDescription</td>
                        <td>@k.LeaveStatus.Status</td>
                        <td>@k.Leaves.ApprovedDate</td>

                    </tr>
                    count += 1;
                }

            }

        </table>

    </div>
</div>

