@model LeaveSystem.ViewModels.EditEmployeeDetailsViewModel
@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    img {
        
         width: 100px;
         height: 100px;
    }

    .text {
        margin-top: 50px
    }

    .row {
        margin-left: 30px;
    }
     #remove:visited{
        color:blue !important
    }
    .field-validation-error {
        color: red
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="mx-auto loginbox" style="width:500px">
            <h4>Update Profile Information</h4>
            <form class="needs-validation" novalidate="novalidate" action="~/account/updateprofile"
                  enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group mr-3">
                    <label for="email">Email</label>
                    <input type="text" value="@Session["CurrentEmail"]" class="form-control" disabled />
                </div>
                <div class="form-group mr-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="EmployeeName"
                            />
                    @Html.ValidationMessageFor(t => t.EmployeeName)
                </div>
                <div class="form-group mr-3">
                    <label for="phone">Contact.No</label>
                    <input type="text" class="form-control" id="phone" name="EmployeeContactNo" />
                </div>
                
                <button class="btn btn-danger" type="submit">Update Profile</button>
                <button formaction="/home/index" class="btn btn-danger">Cancel</button>
            </form>
        </div>
    </div>
</div>
<script>
    $("a[href='/account/login']").attr("id", "active");
    $(document).on("submit", "needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event) {
        if ($(".needs-validation")[0].checkValidity() == false) {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }
    if ('@ViewBag.mess' != "")
        alert('@ViewBag.mess');
</script>